/*List of order page general css*/
.orderlist-page header {
    padding-bottom: 0;
}
.orderlist-page-inner {
    padding: 0 15px;
}

.orderlist-page-inner .inner-listing {
    padding: 13px 15px;
}
.orderlist-page-inner .navigate-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
    height: calc(100% - 65%);
}
.orderlist-page .product-listing .two-column{
    justify-content: space-between;
}
.orderlist-page  .product-listing .two-column .left-col, .orderlist-page  .product-listing .two-column .right-col{
    max-width: unset;
    flex: unset;
}
.orderlist-page  .product-listing .two-column .right-col .order-info{
    min-width: 118px;
}
.orderlist-page  .delivered-badge {
    margin-bottom: 5px;
}
.nav-tabs .nav-link {
    border: 0;
    border-bottom: 3px solid transparent;
}
.nav-tabs .nav-link.active,  .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus{
    background: transparent;
    border: 0;
    border-bottom: 3px solid #fff;
}
.order-history-tab ul li a {
    padding: 14px 0 !important;
}
.nav-tabs .nav-item {
    margin-bottom: -2px;
}
.order-history-tab ul li {
    max-width: 50% !important;
    -webkit-box-flex: 0;
    flex: 0 0 50% !important;
    border-bottom: 2px solid transparent;
}
/*Cancel order popup css*/
.cancel-order-modal .modal-inner p,.reattempt-order-modal .modal-inner p{
    text-align: center;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    padding: 0 40px;
    margin-bottom: 2px;
}
.cancel-order-modal .modal-inner .btn-wrapper .btn,.reattempt-order-modal .modal-inner .btn-wrapper .btn{
    text-transform: uppercase;
    height: 49px;
    font-size: 20px;
}
.cancel-order-modal .modal-dialog,.reattempt-order-modal .modal-dialog {
    max-width: 344px;
    margin: 0 auto;
}

/*reattempt-list of order css*/
.product-listing .inner-listing .status-info{
    display: flex; 
    flex-wrap: wrap;
    margin-top: 3px;
}
.product-listing .inner-listing .status-info span{
    font-family: 'Roboto', sans-serif;
    color: #838383;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: -0.81px;
    padding-right: 8px;
}
.product-listing .inner-listing .status-info .radio-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.product-listing .inner-listing .status-info .radio-wrapper .custom-radio:not(:last-child){
    margin-right: 10px;
}
.product-listing .inner-listing .status-info .radio-wrapper .custom-radio input+label:before{
    width: 13px;
    height: 13px;
    position: absolute;
    left: 0;
    top: 2px;
}
.product-listing .inner-listing .status-info .radio-wrapper .custom-radio input:checked+label:before{
    box-shadow: inset 0 0 0 1.6px #fff;
}
.product-listing .inner-listing .status-info .radio-wrapper .custom-radio label{
    font-size: 14px;
    line-height: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: -0.81px;
    color: #000000;
    padding-left: 17px;
    position: relative;
    cursor: pointer;
}
/* fixed button css */
.orderlist-page .bottom-fixed-button{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  left: 0;
  right: 0;
  padding: 15px;
}
.orderlist-page .bottom-fixed-button .btn{
  max-width: calc(50% - 8px);
  flex: 0 0 calc(50% - 8px);
} 


/* cancel order list page css */
.cancel-list .product-listing .two-column .right-col ,.validate-item-page .product-listing .two-column .right-col {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.cancel-list .product-listing .two-column .right-col  .cancel-link ,.validate-item-page .product-listing .two-column .right-col  .cancel-link {
    background-color: #c22812;
    padding: 2px 5px;
    margin: 0 0 5px 8px;
    display: flex;
    align-items: center;
    height: 20px;
}
.cancel-list .delivered-badge ,.validate-item-page .delivered-badge{
    margin-bottom: 5px;
}
.cancel-list .product-listing .two-column .left-col, .validate-item-page .product-listing .two-column .right-col ,.validate-item-page .product-listing .two-column .left-col, .cancel-list .product-listing .two-column .right-col {
    max-width: unset;
    flex: unset;
}
.cancel-list .product-listing .two-column ,.validate-item-page .product-listing .two-column{
    justify-content: space-between;
}
/* order reason modal */
.order-reason.cancel-order-modal .modal-inner .btn-wrapper .btn,.reattempt-order-modal .modal-inner .btn-wrapper .btn  {
    font-size: 18px;
    height: 40px;
    line-height: 22px;
    text-transform: none;
}

/*Order history page css*/
.order-history-tab{
    background-color: #c22812;
} 
.order-history-tab ul{
    display: flex;
    flex-wrap: wrap;
}
.order-history-tab ul li{
    max-width: 33.33%;
    flex:0 0 33.33%;
    border-bottom: 2px solid transparent;
}
.order-history-tab ul li.active{
    border-color: #ffffff;
}
.order-history-tab ul li.active a{
    font-weight: 400;
}
.order-history-tab ul li a{
    padding: 10px;
    text-align: center;
    width: 100%;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    display: inline-block;
}
.orderhistory-page .wrapper{
    padding-top: 0;
}
.orderhistory-page  .delivered-badge{
    min-width: 84px;
}


@media(max-width: 374px){
    .cancel-order-modal .modal-dialog {
        max-width: 91%;
    }

    .product-listing .inner-listing .status-info span{
        padding-right: 5px;
        font-size: 13px;
    }
    .product-listing .inner-listing .status-info .radio-wrapper .custom-radio:not(:last-child){
        margin-right: 9px;
    }
    .product-listing .inner-listing .status-info .radio-wrapper .custom-radio label{
        font-size: 13px;
        padding-left: 15px;
    }
    .cancel-order-modal .modal-inner p, .reattempt-order-modal .modal-inner p{
        padding:0;
    }

    /*Order history page css*/
    .order-history-tab{
    	padding-top: 5px;
    }

}


