.cancel-success-modal .modal-dialog .modal-body span {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}
.cancel-success-modal .modal-inner p {
  text-align: center;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
}
.cancel-success-modal .modal-inner p .order-num {
  color: #c22812;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 24px;
}
